/*******************************************************************************\ 
 Reglas generales
\*******************************************************************************/

/* Para prevenir el seleccionar texto con el doble-click */
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/imgs/Halloween-2022.png);
    background-size: cover;
    background-repeat:no-repeat ;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 21px 0px;
}

#modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #36363670;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:  center;
    display: none;
}

#modalInfo{
    width: 500px;
    height: 380px;
    background-color: white;
    color: #363636;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modalTitulo{
    margin-bottom: 10px;
    font-size: 2rem;
}

#modalParrafo{
    padding: 0 35px;
    margin: 10px 0;
    font-size: 1.6rem;
}

#modalButton{
    background: #ff0040;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: ease-in-out .3s all;
    margin-top: 15px;
}

#modalButton:hover{
    background: #ffffff;
    border: #ff0040 solid 1px;
    color: #ff0040;
}

/*******************************************************************************\ 
 Sección de cabecera (incluye título, formulario y botón generar)
\*******************************************************************************/
.header > h1 {
    text-align: center;
    color: #FFE874;
    font-size: 60px;

}

.formulario-juego,
.formulario,
.entrada {
    display: flex;
}

.formulario-juego {
    justify-content: center;
    margin: 0rem 2rem;
}

.formulario {
    flex-direction: column;
}

.entrada {
    margin-bottom: 0.5rem;
    align-items: center;
}
.entrada > label {
    width: 25rem;
}
.entrada > input {
    width: 5rem;
    height: 2rem;
    text-align: center;
}

.btn-generar {
    margin-left: 2rem;
    padding: 0.5rem 2rem;
    background: #FFE874;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #E05C1F;
    cursor: pointer;
    transition: ease-in-out .3s all;
    margin-top: 15px;
    border: none;
}


/*******************************************************************************\ 
 Sección del Buscaminas (incluye la cabcera del juego, el juego y el resultado)
\*******************************************************************************/
.contenedor-juego {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    align-items: center;
}

.hidden {
    display: none;
}


/*** Contador de banderas... */
.contenedor-juego > h2 {
    margin-bottom: 0.5rem;
}
#num-banderas {
    color: blue;
    font-weight: bold;
}
/* ...Contador de banderas ***/


/*** Juego... */
.juego {
    display: flex;
    flex-wrap: wrap;
    background-color: #AB62A4;
    margin-bottom: 0.5rem;
}

.juego div {
    height: 4rem;
    width: 4rem;
    box-sizing: border-box;
    border: 1px solid #782484;
}

.marcada {
    background-color: #8E4D98;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
}

.bandera {
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.back-red {
    background-color: #E05C1F !important;
}

.back-green {
    background-color: #F4C842 !important;
}

img{
    width: 100%;
}

/* ...Juego ***/


/*** Resultado... */
.resultado-juego {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0rem;
}
/* ...Resultado ***/